:root {
  --primary: #71b8ce;
  --secondary: #0e5d9e;
  --dark: #212121;
  --light: #f3f3f3;
}

.info-container {
  width: 50rem;
  height: 10rem;
  background-color: rgba(122, 186, 202, 0.651);
  border-radius: 2rem;
  box-shadow: 1rem 1rem 2rem gray;
  background-image: linear-gradient(
    to bottom left,
    var(--primary) 10%,
    var(--secondary) 115%
  );
}
