/* .map-amal {
  position: relative;
  background-color: brown;
  height: 200vh;
} */

/* .btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 50vh;
} */
